@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup {
    margin-bottom: 40px;
    opacity: 0.8;
}

.layer1 {
    filter: invert(1) sepia(1) brightness(1) contrast(0.7) hue-rotate(10deg);
    /* filter: invert(1) brightness(1) contrast(0.7) hue-rotate(10deg); */
}

.layer2 {
    filter: sepia(0.6) brightness(0.8) contrast(1) hue-rotate(-20deg);;
}